:root {
	--font-family-sans-serif: 'Montserrat', sans-serif;
	--font-family-monospace: 'Open Sans', sans-serif;
	--primary: #9200ff !important;
	--secondary: #ffffff !important;
	--danger: #f02539 !important;
	--soft: #ffcccc77;
	--gradient-box: 1px 0px 4px var(--primary), 0px 1px 4px var(--primary),
		-1px 0px 4px var(--primary), 0px -1px 4px var(--primary);
}

* {
	color: var(--secondary);
	font-family: var(--font-family-sans-serif);
	text-shadow: var(--gradient-box);
}

html { scroll-behavior: smooth; }
.h1 { font-size: 7rem !important; }
.h2 { font-size: 3rem !important; }
.h3 { font-size: 2rem !important; }
.text-secondary { color: var(--secondary) !important; }
.text-primary { color: var(--secondary) !important; }
.text-soft { color: var(--soft) !important; }

.text-danger {
	color: var(--danger) !important;
	text-shadow: none;
	font-family: var(--font-family-monospace) !important;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.content {
	border-radius: 3rem !important;
	box-shadow: var(--gradient-box);
}

.form-control {
	box-shadow: none !important;
	border: none !important;
	border-bottom: 2px solid var(--primary) !important;
	background: transparent !important;
}

.btn {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 2.05rem !important;
	border-radius: 10px !important;
	background: var(--primary) !important;
	border: none;
}
